.t-step-title {
  color: #727C8D;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

.t-step-title-icon {
  cursor: default;
}

.t-last-step {
  color: #111827;
}

.t-black-white {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background-color: #111827;
  color: white;
  font-size: 26px;
}

.t-black-white .t-icon {
  width: 25px;
  height: 25px;
}

.t-red{
  color: #DC2626;
}

.t-gray.t-icon{
  width: 15px;
  height: 15px;
  color: #727C8D;
  font-size: 12px;
}
