.t-flex-div {
    width: fit-content;
    display: flex;
    align-items: center;
    border:1px solid rgba(186, 230, 253);
    @apply border-blue-200
           bg-gradient-to-b
           from-blue-100
           px-3
           to-blue-100
           hover_from-blue-100 
           hover_to-blue-200
           active_from-blue-200
           active_shadow-inner 
           text-blue-600
           rounded;
}

.t-divider {
    height: 36px;
    border-left:2px solid rgba(186, 230, 253);
    @apply ml-3 mr-2;
}
